[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ridgregextra"]
	path = ridgregextra
	url = https://github.com/filizkrdg/ridgregextra
