[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Stype.est"]
	path = Stype.est
	url = https://github.com/filizkrdg/s-type.est
[submodule "Styperidge.reg"]
	path = Styperidge.reg
	url = https://github.com/filizkrdg/styperidge.reg
[submodule "ridgregextra"]
	path = ridgregextra
	url = https://github.com/filizkrdg/ridgregextra
